header{
    background-color: bisque;
    font-size: xx-large;
    text-align:center;
    height:8vh;
    padding-top:10px;
}
nav{
    margin-top:3px;
    background-color: bisque;
    height:3vh;
}
nav ul{
    list-style: none;
    display:flex;
}
nav ul li{
    width: 25%;
    text-align: center;
}
main{
    background-color: bisque;
    padding-left:20px;
}
main p{
    padding-left: 15px;
}
main ul{
    padding-left: 35px;
}
main table{
    margin:0 auto;
    text-align:center;
    border:2px solid black;
    border-collapse:collapse;
}
main table td{
    border:2px solid black;
}
main table th{
    border:2px solid black;
}

#rama{
    width:350px;
    height: 150px;
    
}
#tabla_ramas{
    width:500px;
}